@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #FFAA04;
	box-shadow: 2px 2px 5px #AAA;
	border-radius: 10px;
	color: white;
	width: 80%;
	padding: 20px;
	min-width: 250px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

h1 {
	margin-bottom: 55px;
}

#error-msg {
	/* color: ; */
	background-color: #D33;
	border-radius: 3px;
	padding: 4px 10px;
}

input, #button{
	background-color: #FFAA04;
	outline: none;
	border: 1px white solid;
	border-radius: 3px;
	padding: 15px 15px;
	margin-bottom: 40px;
	color: white;
}

#button {
	align-self: self-end;
	width: 40%;
	cursor: pointer;
}

#no-account {
	align-self: center;
}
#no-account a {
	color: #1689DD;
	text-decoration: none;
}

img {
	display: none;
	width: 400px;
	object-fit: contain;
	border-radius: 10px;
}

@media screen and (min-width: 850px) {
	img {
		display: inherit;
	}
}

.hidden {
	display: none;
}